# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env
.DS_Store
npm-cache/
.eslintcache
.prettiercache

# Electron-specific
dist/              
release/           
build/            
!build/icon.ico    
*.asar
*.map

# Prisma
prisma/generated/

Script transacciones.rar